<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Herda as configurações padrão de cor e formato do Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Silencia a poluição visual de frameworks internos -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>

    <!-- Força a exibição dos logs (INFO, WARN, ERROR) APENAS do seu pacote principal -->
    <logger name="com.vilt.talentos" level="INFO"/>

    <!-- Define a saída padrão no console -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
